:root {
    font-family: Livvic, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --green: #0CB04A;
    --dark-green: #0A7533;
    --red: #FF3A2F;
    --dark-red: #A92921;


    color-scheme: light dark;
    --color: #213547;
    --background-color: #ffffff;
    --shadow-color: lightgray;
    --disabled-color: lightgray;
    --focus-accent-color: var(--red);
    color: var(--color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    font-family: Livvic, sans-serif;
}
::selection {
    color: var(--dark-red);
    background-color: var(--green);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100dvh;
}

header {
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--shadow-color);
    margin-bottom: 10px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}
h2 {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: rgba(255, 255, 255, 0.87);
        --background-color: #242424;
        --shadow-color: black;
        --disabled-color: darkgrey;
    }
    a:hover {
        color: #535bf2;
    }
}

/* #region Tab */

#tab_layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr;
}

label.tab_selection {
    grid-row: 1;
    text-align: center;
}
label.tab_selection > input[name="tab_selection"] {
    display: none;
}
label.tab_selection > svg {
    height: 3.2em;
    width: min-content;
    padding: 1em;
}

.tab_content {
    grid-row: 2;
    margin: 1em;
}
.tab_content > :first-child {
    margin-top: 0;
}
.tab_content > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
    .tab_content {
        grid-column-start: 1;
        grid-column-end: 5;
        pointer-events: none;
        opacity: 0;
    }
    #tab_layout:has(input[name="tab_selection"][value="participants"]:checked) .tab_content#container_participants,
    #tab_layout:has(input[name="tab_selection"][value="groups"]:checked) .tab_content#container_groups,
    #tab_layout:has(input[name="tab_selection"][value="history"]:checked) .tab_content#container_history,
    #tab_layout:has(input[name="tab_selection"][value="next_christmas"]:checked) .tab_content#container_next_christmas {
        pointer-events: all;
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }

    label.tab_selection:has(input[name="tab_selection"]:not(:checked)) > svg .gift_body {
        fill: var(--disabled-color) !important;
    }
    label.tab_selection:has(input[name="tab_selection"]:not(:checked)) > svg .gift_ribbon {
        fill: var(--background-color) !important;
        stroke: var(--disabled-color) !important;
        stroke-width: 4 !important;
    }
}
/* #endregion */

/* #region Participants */

#add_participant_button {
    width: -webkit-fill-available;
    padding: .5em;
    border-radius: 100vmax;
    border: none;
    outline: none;
    font-size: large;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    text-align: left;
}
#add_participant_button > svg:first-child {
    fill: var(--color);
    height: 2em;
    width: 2em;
}

.participant_definition {
    font-size: x-large;
    font-weight: 600;
    border-radius: .5em;
    margin: .5em;
    outline: 0px solid var(--focus-accent-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.participant_definition input[type="text"] {
    font-size: inherit;
    font-weight: inherit;
    display: block;
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: .5em;

    flex-grow: 1;
    flex-shrink: 1;
}
.participant_definition:hover,
.participant_definition:has(:focus-visible) {
    background-color: rgba(0, 0, 0, .35);
}
.participant_definition:has(:focus-visible) {
    outline-width: 2px;
}
.participant_definition .delete_participant_button {
    display: none;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    /* height: 2em;
    width: 2em; */
}
.participant_definition .delete_participant_button svg {
    display: block;
    margin: .5em;
    height: 2em;
    width: 2em;

    fill: var(--color);
}
.participant_definition:has(:focus-visible) .delete_participant_button {
    display: block;
}

/* #endregion */
